@use 'variables' as *;

@mixin flex($direction: row, $align: center, $justify: flex-start, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin custom-scrollbar($width: 10px) {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &.is-scrolling {
    scrollbar-color: $color-scrollbar-thumb transparent;
  }

  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: $border-radius-full;
    transition: background-color $transition-base;
  }

  &.is-scrolling::-webkit-scrollbar-thumb {
    background-color: $color-scrollbar-thumb;

    @include hover {
      background-color: $color-scrollbar-thumb-hover;
    }
  }
}
